altgraph==0.17.5
annotated-doc==0.0.5
anticaptchaofficial==1.0.69
anyio==4.14.2
attrs==26.1.0
beautifulsoup4==4.14.3
behave==1.2.6
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.2
colorama==0.4.6
cssselect==1.4.0
easyocr==1.7.2
et_xmlfile==2.0.0
exceptiongroup==1.3.1
execnet==2.1.2
fasteners==0.20
filelock==3.29.0
fsspec==2026.4.0
greenlet==3.2.4
h11==0.16.0
hf-xet==1.6.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.26.1
idna==3.16
ImageIO==2.37.3
iniconfig==2.3.0
Jinja2==3.1.6
lazy-loader==0.5
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
mpmath==1.3.0
mycdp==1.3.7
networkx==3.4.2
ninja==1.13.0
Nuitka==4.0.8
numpy==2.2.6
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==26.2
pandas==2.3.3
parameterized==0.9.0
parse==1.22.0
parse_type==0.6.6
pdbp==1.8.2
pefile==2024.8.26
pillow==12.2.0
platformdirs==4.9.6
playwright==1.56.0
playwright-stealth==2.0.3
pluggy==1.6.0
psutil==7.2.2
py==1.11.0
pyclipper==1.4.0
pycparser==3.0
pyee==13.0.0
Pygments==2.20.0
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2026.5
pynose==1.5.5
pyotp==2.9.0
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
pyqt5-tools==5.15.9.3.3
PyQt5_sip==12.18.0
pyreadline3==3.5.6
PySocks==1.7.1
pytest==8.4.2
pytest-html==4.0.2
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-rerunfailures==16.2
pytest-xdist==3.8.0
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
pywin32-ctypes==0.2.3
PyYAML==6.0.3
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
regex==2026.7.19
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
sbvirtualdisplay==1.4.0
scikit-image==0.25.2
scipy==1.15.3
selenium==4.44.0
shapely==2.1.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.3
sympy==1.14.0
tabcompleter==1.4.1
tifffile==2025.5.10
tokenizers==0.22.2
tomli==2.4.1
torch==2.11.0
torchvision==0.26.0
tqdm==4.70.0
transformers==5.14.1
trio==0.33.0
trio-websocket==0.12.2
typer==0.27.1
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
websocket-client==1.9.0
websockets==16.0
wsproto==1.3.2
